<div class="card shadow mb-4 ">
    <!-- header -->
    <div class="card-header d-flex justify-content-between align-items-center">
        <h6 class="text-primary fw-bold m-0">Kanji Meaning</h6>
        <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false"
                data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
            <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item"
                    href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>

            </div>
        </div>
    </div>
    <!-- header -->
    <div class="card-body" id="japanese-search">
        <!-- reading -->
        <div class="border p-3">
            <h5>Cách Đọc</h5>
            <div class="d-flex d-detail  align-items-start align-items-start justify-content-between my-2">
                <h5 class="text-nowrap p-2 ">Hiragana :</h5>
                <div class="d-flex flex-wrap flex-grow-1 pt-2" style="max-height: 150px; overflow-y: auto;"
                    id="japanese-reading-hira">
                </div>
            </div>
            <div class="d-flex d-detail  align-items-start align-items-start justify-content-between mb-1">
                <h5 class="text-nowrap p-2 ">Romaji :</h5>
                <div class="d-flex flex-wrap flex-grow-1 pt-2" style="max-height: 150px; overflow-y: auto;"
                    id="japanese-reading">
                </div>
            </div>
        </div>
        <!-- vietnamese -->
        <div class="border p-2">
            <div class="d-flex d-detail  align-items-start align-items-start justify-content-between mb-1">
                <h5 class="text-nowrap p-2 ">Dịch Nghĩa :</h5>
                <div class="d-flex flex-wrap flex-grow-1 pt-2" style="max-height: 150px; overflow-y: auto;"
                    id="vietnamese-mean">
                </div>
            </div>
        </div>
    </div>
</div>